<a href="#" class="link-primary mx-2" data-bs-toggle="modal" data-bs-target="#<%= modal_id %>">
  <p><%= title %>: <%= count %></p>
</a>
<div class="modal fade" id="<%= modal_id %>" tabindex="-1" aria-labelledby="<%= modal_id %>Label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="<%= modal_id %>Label"><%= title %></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <% if users.present? %>
          <ul class="list-group">
            <% users.each do |user| %>
              <li class="list-group-item">
                <%= link_to user_path(user) do %>
                  <%= image_tag user.image, alt: user.name, size: "50x50" %>
                  <%= user.name %>
                <% end %>
                <% if current_user %>
                  <% if current_user.following?(user) %>
                    <%= form_with(model: current_user.active_relationships.find_by(followed: user), html: { method: :delete }) do |f| %>
                      <div><%= hidden_field_tag :redirect_to, request.fullpath %></div>
                      <%= f.submit t("users.show.unfollow"), class: "btn btn-secondary" %>
                    <% end %>
                  <% elsif current_user != user %>
                    <%= form_with(model: current_user.active_relationships.build) do |f| %>
                      <div><%= hidden_field_tag :redirect_to, request.fullpath %></div>
                      <div><%= hidden_field_tag :followed_id, user.id %></div>
                      <%= f.submit t("users.show.follow"), class: "btn btn-primary" %>
                    <% end %>
                  <% end %>
                <% end %>
              </li>
            <% end %>
          </ul>
        <% else %>
          <p><%= t("users.show.nolists") %></p>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
