<h1 class="white-text d-flex justify-content-center my-5"><%= t("users.index.title") %></h1>

<ul class="list-group mx-5">
  <% @users.each do |user| %>
    <li class="list-group-item d-flex justify-content-center align-items-center">
      <%= link_to user do %>
        <img src="<%= user.image %>" width="50" height="50" style="display: block; margin: auto;">
        <%= user.name %>
      <% end %>
        <%= render "follow_form", user: user %>
    </li>
  <% end %>
</ul>

<div class="d-flex justify-content-center my-5">
  <%= paginate @users, theme: "bootstrap-5" %>
</div>
