<div class="container">
  <footer class="border-bottom thick-border">
    <ul class="nav justify-content-center">
      <li class="nav-item"><%= link_to "TOP", root_path, class: "nav-link white-text" %></li>
      <li class="nav-item"><%= link_to t("shared.footer.todo_form"), "https://docs.google.com/forms/d/e/1FAIpQLSeZA2zNaglw6g-CTd8-3JOg1mWNA6P-uxh0x0XqRoCVMTphMA/viewform", class: "nav-link white-text" %></li>
      <li class="nav-item"><%= link_to "SpecialThanks!!", special_thanks_path, class: "nav-link white-text" %></li>

      <li class="nav-item dropup">
        <a class="nav-link dropdown-toggle white-text" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Information</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/home/terms"><%= t("shared.footer.terms_of_service") %></a></li>
            <li><a class="dropdown-item" href="/home/privacy_policy"><%= t("shared.footer.privacy_policy") %></a></li>
            <li><a class="dropdown-item" href="https://docs.google.com/forms/d/e/1FAIpQLSem-rlvwDvTYiSJXXkoF9SltbqDEdEjaoFLUpd4Ci1vOEN5vA/viewform"><%= t("shared.footer.contact_us") %></a></li>
            <li><a class="dropdown-item" href="https://runteq.jp/r/9_JVIuxH"><%= t("shared.footer.runteq") %></a></li>
          </ul>
      </li>

    </ul>
    <p class="text-center white-text">&copy; <%= Time.now.year %> CREDO QUEST</p>
  </footer>
</div>
