<div id="<%= dom_id temp_todo %>">
  <p>
    <strong>Category:</strong>
    <%= temp_todo.category %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= temp_todo.description %>
  </p>

  <p>
    <strong>Checked:</strong>
    <%= temp_todo.checked %>
  </p>

  <p>
    <strong>User:</strong>
    <%= temp_todo.user_id %>
  </p>

  <p>
    <strong>Default:</strong>
    <%= temp_todo.default %>
  </p>

</div>
