<h1 class="white-text d-flex justify-content-center my-5"><%= t("todos.index.title") %></h1>

<%= turbo_frame_tag "todos/index" do %>

  <div class="d-flex justify-content-center my-5">
    <%= search_form_for @q, url: todos_path, method: :get, html: { class: "d-flex align-items-center" } do |f| %>
      <%= f.select :category_eq, Todo::CATEGORIES, {include_blank: t("todos.index.search")}, {class: "form-select"} %>
      <%= f.button class: "btn btn-primary mx-1" do %>
        <i class="bi bi-search"></i>
      <% end %>
    <% end %>
  </div>

  <div id="flash" class="mx-5 my-5">
    <%= render "shared/flash" %>
  </div>

  <% if current_user %>
    <%= render "form", todo: @todo %>
  <% end %>

  <div id="todos">
    <% @todos.each do |todo| %>
      <%= render todo %>
    <% end %>
  </div>

  <div class="d-flex justify-content-center my-5">
    <%= paginate @todos, theme: "bootstrap-5" %>
  </div>
<% end %>
