<h1 class="white-text d-flex justify-content-center my-5"><%= t("todos.index.title") %></h1>

<div class="d-flex justify-content-center">
  <div class="d-flex flex-column mx-3">
    <%= image_tag "dragon.jpg", size: "100x100", class: "mt-5" %>
    <p class="white-text mt-2"><%= t("todos.index.character") %></p>
  </div>
  <div class="d-flex flex-column mx-3">
    <div class="p-3 rounded bg-light" style="border: 1px solid black;">
      <p class="m-2"><%= t("todos.index.serif1") %></p>
      <p class="m-2"><%= t("todos.index.serif2") %></p>
    </div>
    <div class="p-3 rounded bg-light mt-2" style="border: 1px solid black;">
      <p class="m-2"><i class="bi bi-star-fill" style="color: #ffc107"></i><%= t("todos.index.serif3") %></p>
    </div>
  </div>
</div>

<%= turbo_frame_tag "todos/index" do %>

  <div class="d-flex justify-content-center my-5">
    <%= search_form_for @q, url: todos_path, method: :get, html: { class: "d-flex align-items-center" } do |f| %>
      <%= f.select :category_eq, Todo::CATEGORIES, {include_blank: t("todos.index.search")}, {class: "form-select"} %>
      <%= f.button class: "btn btn-primary mx-1" do %>
        <i class="bi bi-search"></i>
      <% end %>
    <% end %>
  </div>

  <div id="flash" class="mx-5 my-5">
    <%= render "shared/flash" %>
  </div>

  <% if current_user %>
    <%= render "form", todo: @todo %>
  <% end %>

  <div id="todos">
    <% @todos.each do |todo| %>
      <%= render todo %>
    <% end %>
  </div>

  <div class="d-flex justify-content-center my-5">
    <%= paginate @todos, theme: "bootstrap-5" %>
  </div>
<% end %>
